################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DBT/.vs/DBT/FileContentIndex/858c3b1e-21ae-448b-b4d1-060529600203.vsidx
